---
import Icon from './Icon.astro';
import { faAngleUp } from '@fortawesome/free-solid-svg-icons';
---

<button id="scroll-top">
    <Icon iconDefinition={faAngleUp} />
</button>

<script>
    const button = document.getElementById("scroll-top");

    window.addEventListener("scroll", () => {
        if (window.scrollY > 50) {
            button?.classList.add("visible");
        }
        else {
            button?.classList.remove("visible");
        }
    });

    button?.addEventListener("click", () => {
        window.scrollTo({
            top: 0,
            behavior: "smooth"
        });
    });
</script>

<style>
button {
    position: fixed;
    right: 32px;
    bottom: 32px;

    width: 52px;
    height: 52px;
    border-radius: 12px;
    border: none;

    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--primary);
    color: var(--background);

    font-size: 1.5rem;
    font-weight: bold;
    
    opacity: 0;
    cursor: pointer;
    pointer-events: none;

    transform: translateY(20px);
    transition:
        opacity .25s ease,
        transform .25s ease,
        background-color .3s ease;
}

button.visible {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}

button.visible:hover {
    transform: translateY(-3px);
}

button :global(svg) {
    width: 28px;
    height: 28px;
}
</style>